body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: black;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Century;
  background-color: rgba(0, 0, 0, 0.51);
  font-size: 10px;
}

a{
  text-decoration: none;
  color: black;

}

p {
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: url('../../images/bg.jpg') no-repeat center top / cover;
  padding-top: 57px;
  color: #fff;
  padding-bottom: 322px;
  height: 100vh;
}

header .elementMenu {
  color: #fff;
}

.logo {
  margin-right: 780px;
  width: 50px;
  padding: 5px;
}

.menu {
  display: flex;
}

.menu li .elementMenu {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.menu li .elementMenu:hover{
  border-bottom: 2px solid #000;
	padding-bottom: 3px;
}

#imgRegistration{
  width: 30px;
  cursor: pointer;
  padding-right: 5px;
}

.menu li {
  margin-right: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #fff;
  opacity: 0.5;
	padding-right: 10px;
}

.offer {
  text-transform: uppercase;
  margin-top: 236px;
  text-align: center;
}

.offer p {
  background-color: rgba(0, 0, 0, 0.51);
  font-size: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}

.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em
}

.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 32px;
  border: 1px solid #fff;
  width: 238px;
  transition: all 0.5s ease;
  margin: auto;
  color: white;
}

.btn:hover {
  background: #fff;
  color: #000;
}

span{
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}
