.container {
  width: 100%;
  margin: 0 auto;
}

.homePageImage {
  background: url('../../images/bg.jpg') no-repeat center top / cover;
	height: 100vh;
	padding: 57px;
}

header .elementMenu {
  color: #fff;
}

.logo {
  width: 100%;
}
.wrapLogo{
	width: 39px;
}

.menu {
  display: flex;
	align-items: center;
}

.menu li .elementMenu {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
}

.menu li .elementMenu:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  color: #fff;
}	

.imgRegistration {
  width: 30px;
  cursor: pointer;
  font-size: 25px;
	color: white;
}

.menu li {
  margin-right: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.51);
	padding: 10px 0 10px 39px;
}

.offer {
  text-transform: uppercase;
  margin-top: 110px;
  text-align: center;
}

.offer p {
  background-color: rgba(0, 0, 0, 0.51);
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 90px;
	color: #fff;
}

.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em;
	color: #fff;
}

.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 32px;
  border: 1px solid #fff;
  width: 238px;
  transition: all 0.5s ease;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.51);
}

.btn:hover {
  background: #fff;
  color: #000;
}

span {
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 670px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
