.around {
  margin-top: 30px;
}

.newsMainBlock {
  width: 90%;
  margin: auto;
  color: white;
  padding: 30px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.51);
}

.newsCard {
  display: flex;
  min-height: 300px;
  justify-content: space-between;
}

.titleBlock {
  min-height: 100px;
}

.newsImage {
  width: 250px;
  margin-right: 30px;
  border-radius: 1px;
}

.textBlock span {
  font-size: 20px;
}

div.read-more-button {
  color: red;
}

.displayed-text {
  color: red!important;
}



